*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 10px 0px;
    z-index: 100;
}

.header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0px 2.5%;
}

.header div div a{
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.header .phone{
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.header div div a:hover{
    background-color:  rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.header .phone:hover{
    cursor: pointer;
}

input{
    padding-right:58px;
}

.sec-container{
    background-color:  rgb(190, 190, 190);
    width: 100%;
    margin-left: 100px;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    padding: 10px;
    border-radius: 50px;
    height: fit-content;
    align-items: center;
}

.sec-container form{
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: 50px;
    gap: 50px;
}

.sub{
    display: flex;
    gap: 30px;
}

.sub1{
    display: flex;
    gap: 50px;
}

div.error{
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
}

.input-control{
    text-align: center;
}

.container{
    background-color: rgb(255, 255, 255);
    margin: 50px 0px;
    display: flex;
    gap: 10%;
}

.submit{
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    transition: all .5s ease;
}

.submit:hover{
    background-color: black;
    color: white;
}

/* summary table */
.sec1-container{
    background-color: rgb(190, 190, 190);
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    border-radius: 50px;
    padding: 50px;
    height: fit-content;
}

.sec1-container table{
    border: 1px solid black;
    font-size: 15px;
}

.sec1-container td{
    border: 1px solid black;
    padding: 10px;
}

.sec1-container tr{
    transition: all .5s ease;
}

#tic{
    background-color: #949494;
}

.sec1-container tr:hover,#tic:hover{
    background-color: black;
    color: white;
    transform: scale(1.2);
}

.Continue{
    padding: 10px 20px;
    border-radius: 10px;
}


.footer{
    width: 100%;
    height: 50vh;
    background-color: black;
    color: white;
}

.foot-container{
    display: flex;
    width: 100%;
    height: 40vh;
    gap: 40px;
}

.foot-container div{
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

.foot-1,.foot-2{
    margin: 0px 20px 0px 20px;
}

.foot-1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.foot-2{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
